@media (max-width: 780px) {
    #mainContent
    {
        width: 90%;
        margin: 50px auto auto auto;
        padding: 25px;
    }

    #searchFormDiv
    {
        width: 75%;
        margin: 50px auto auto auto;
    }

    .form-group
    {
        width: 100%;
        padding-left: 14px;
    }

   #inputSearch
    {
        width: 64%;
    }

    #submitSearch
    {
        width: 34%;
    }

    /* Image styles */
    .cardImagePartial
    {
        display: none;
    }

    .cardImagePartialMobile
    {
        display: block;
        margin-top: 20px;   
    }

    .cardImage
    {
        float: none;
        text-align: left;
    }

    .imageLink
    {
        text-align: left;
    }

    .showCardBtn
    {
        float: none;
        width: 150px;
    }

    .imageContent img
    {
        width: 280px;
        margin-top: 10px;
    }
}

@media (max-width: 440px) {
    .imageContent img
    {
        width: 170px;
    }
}