body
{
}


#mainContent
{
    width: 630px;
    margin: 50px auto auto auto;
    padding: 25px;
}

#searchFormDiv
{
    width: 400px;
    margin: 50px auto auto auto;
}

.form-group
{
    width: 378px;
    padding-left: 14px;
}

#wellForm
{
    min-height: 150px;
}

/* Card information */
.mainPrice
{
    font-size: 50px;
}

.cardName
{
    font-size: 30px !important;
    font-weight: bold;
}

.cardSet
{
    font-size: 17px;
    font-weight: normal;
}

.positive
{
    color: #469408;
}

.negative
{
    color: #D9230F;
}

.cardSet a, .cardSet a:hover, .cardSet a:active, .cardSet a:focus
{
    color: #FFF;
}

.cardManaCost
{
    display: none;
    float: right;
}

/* Rarity colors */
.rarityC
{
    color: #000000;
}

.rarityU
{
    color: #808080;
}

.rarityR
{
    color: #FFB300;
}

.rarityM
{
    color: #FF6600;
}

/* Image styles */
.cardImagePartial
{
    display: block;
}

.cardImagePartialMobile
{
    display: none;
}

.cardImage
{
    float: right;
    text-align: right;
}

.imageLink
{
    text-align: right;
}

.showCardBtn
{
    float: right;
    width: 150px;
}

.imageContent img
{
    width: 280px;
    margin-top: 10px;
}
