body
{
}


#mainContent
{
    width: 700px;
    margin: 50px auto auto auto;
    padding: 25px;
}

#searchFormDiv
{
    width: 400px;
    margin: 50px auto auto auto;
}

.form-group
{
    width: 378px;
    padding-left: 14px;
}

@media (max-width: 780px) {
    #mainContent
    {
        width: 90%;
        margin: 50px auto auto auto;
        padding: 25px;
    }

    #searchFormDiv
    {
        width: 75%;
        margin: 50px auto auto auto;
    }

    .form-group
    {
        width: 100%;
        padding-left: 14px;
    }
}


#wellForm
{
    min-height: 150px;
}

/* Card information */
.mainPrice
{
    font-size: 50px;
}

.cardName
{
    font-size: 30px !important;
    font-weight: bold;
}

.cardSet
{
    font-size: 17px;
    font-weight: normal;
}