@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" href="Styles/style.css" rel="stylesheet" />
    <link type="text/css" href="Styles/style_mobile.css" rel="stylesheet" />
    <link type="text/css" href="Styles/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="Scripts/spin.js"></script>
    <script src="Scripts/script.js"></script>
    <title>MTG Ripper</title>
</head>
<body>
    @RenderBody()
</body>
</html>
