@model MTGRipperServer.Models.MultiStoresCardModel

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title cardName">
            @Model.Name
        </h3>           
    </div>    
    <div class="panel-body">
        <ul id="storesPrices" class="list-group">
            <li class="list-group-item">
                <span id="priceTKL" class="badge">Ripping...</span>
                Three Kings Loot
            </li>
            <li class="list-group-item">
                <span id="priceGK" class="badge">&nbsp;</span>
                Game Keeper
            </li>
            <li class="list-group-item">
                <span id="priceF2F" class="badge">&nbsp;</span>
                Face à Face
            </li>
        </ul>
    </div>
</div>