@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="searchFormDiv">
    <div id="wellForm" class="well bs-component">
        <form id="searchForm" class="form-horizontal">
            <fieldset>
                <h1>Search card</h1>
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control" id="inputSearch" placeholder="Search card name" tabindex="1">
                        <input type="submit" class="btn btn-info submit" id="submitSearch" value="Search" />
                    </div>
                </div>
            </fieldset>
        </form>
        <span id="btnUSD" data-currency="USD" class="btn btn-info btn-xs btnCurrency">USD</span>
        <span id="btnCAD" data-currency="CAD" class="btn btn-primary btn-xs btnCurrency">CAD</span>
        <div id="currencyStatus"></div>
    </div>
    <div id="dataSourceCredits">
        MTG Price data provided by: <a href="http://www.mtgprice.com">MTGPrice.com</a>
    </div>
</div>
<div id="mainContent" class="jumbotron"></div>
<div id="spinnerZone"></div>

