<div id="loginFormDiv">
    <div id="wellForm" class="well bs-component">
        <form id="searchForm" class="form-horizontal">
            <fieldset>
                <h1>Search</h1>
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control" id="inputSearch" placeholder="Search terms" tabindex="1">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div id="mainContent" class="jumbotron"></div>
<div id="spinnerZone"></div>
